#settings-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#palettes {
	flex-direction: column;
	width: 60vw;
	margin: 30px auto;
	gap: 1.5vw;
}

.palette {
	box-sizing: border-box;
	flex-direction: row;
	width: 100%;
	height: 6vw;
	cursor: pointer;
}

.color {
	flex-grow: 1;
}

#settings {
	flex-direction: column;
}

#on-off {
	cursor: pointer;
}

@media screen and (min-width: 925px) {
	#palettes {
		width: 555px;
		gap: 14px;
	}
	.palette {
		height: 56px;
		width: 555px;
	}
}

@media screen and (max-width: 450px) {
	#palettes {
		width: 270px;
		gap: 8px;
	}
	.palette {
		height: 27px;
		width: 270px;
	}
}
