#grid {
	flex-direction: column;
	height: 60vw;
	width: 60vw;
	gap: 4px;
	margin: 0 auto;
	cursor: pointer;
}

.row {
	flex-direction: row;
	width: 60vw;
	height: 20vw;
	margin: 0 auto;
}

#grid,
.row {
	gap: 0.5vw;
}

.square {
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 20vw;
}

.x-mark,
.o-mark {
	color: white;
	font-family: 'Outfit', sans-serif;
	font-size: 22vw;
	font-weight: 700;
	line-height: 0;
	opacity: 1;
	animation: full-fade-in 0.1s ease-in;
}

.translucent {
	opacity: 0.3;
	animation: partial-fade-in 0.3s ease-in;
	animation-iteration-count: 1;
}

#players {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20vw;
	width: 100vw;
	gap: 3vw;
}

#game-over {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 60vw;
	margin: auto;
	padding: 5vw 5vw 3vw;
	gap: 4vw;
}

.player-container {
	justify-content: center;
	width: 28vw;
	height: 10vw;
	cursor: default;
}

#reset-game {
	justify-content: center;
	width: 60vw;
    cursor: pointer;
}

@media screen and (min-width: 925px) {
	#players {
		height: 185px;
		gap: 22px;
	}
	#grid {
		width: 555px;
		height: 555px;
	}
	.row {
		width: 555px;
		height: 185px;
	}
	#grid,
	.row {
		gap: 6px;
	}
	.square {
		width: 183px;
		height: 183px;
	}
	.x-mark,
	.o-mark {
		font-size: 203px;
	}
	#game-over {
		width: 555px;
		padding: 46px 46px 28px;
		gap: 37px;
	}
	.player-container {
		width: 260px;
		height: 88px;
	}
	#reset-game {
		width: 555px;
	}
}

@media screen and (max-width: 450px) {
	#players {
		height: 130px;
		flex-direction: column;
	}
	#grid {
		width: 270px;
		height: 270px;
	}
	.row {
		width: 270px;
		height: 90px;
	}
	#grid,
	.row {
		gap: 2px;
	}
	.square {
		width: 90px;
		height: 90px;
	}
	.x-mark,
	.o-mark {
		font-size: 90px;
	}
	.player-container {
		width: 266px;
		height: 40px;
	}
	#game-over {
		width: 270px;
		padding: 23px 23px 14px;
		gap: 18px;
	}
	#reset-game {
		width: 270px;
	}
}
